<div class="container pt-5">
	<div class="row">
        <div class="col-md-12">
		<div class="card text-center">
			<div class="card-header">
				<h3>Datos del Proyecto</h3>
			</div>
			<div class="card-body bg-aqua">
            <% @proyecto.each do |proyecto| %>
            <% if current_user.admin? %>
            <!-- VISTA DEL ADMINISTRADOR DE LA PLATAFORMA -->
                <form method="POST" action="edit/<%= proyecto.id %>" accept-charset="UTF-8" role="form" id="actualizarproyecto" name="actualizarproyecto" enctype="multipart/form-data"> 
                    <!-- Protección CSRF -->
                    <%= token_tag nil %>
                    <div class="row">
                        <div class="col-md-12 input-group form-group">
					        <input type="text" class="form-control" placeholder="Nombre del Proyecto" id="nombre" name="nombre" value="<%= proyecto.nombre %>" required>
					    </div>
                    </div>
                    <div class="row">
					    <div class="col-md-12 input-group form-group">
					        <select type="select" class="form-control" name="user_id" id="user_id" required>
                                <option value="">Seleccione el Líder del Proyecto</option>
                                <% @users.each do |user| %>
                                    <% if user.id == @lider && user.role_id == 2%>
                                        <option value="<%=user.id%>" selected><%=user.nombre%> <%=user.app%> <%=user.apm%> - <%=user.puesto%></option>
                                    <% else %>
                                        <option value="<%=user.id%>"><%=user.nombre%> <%=user.app%> <%=user.apm%> - <%=user.puesto%></option>
                                    <% end %>
                                <% end %>
                            </select>
					    </div>
                    </div>
                    <div class="form-group d-inline-flex mt-3">
                        <button type="submit" class="btn btn-light">Guardar</button>
				    </div>
                    <div class="form-group d-inline-flex mt-3">
                        <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
				    </div>
                </form>
                <div class="row justify-content-center mt-1">
                    <form method="POST" action="/proyectos/delete/<%= proyecto.id %>" accept-charset="UTF-8" class="form-horizontal" role="form">
                    <!-- Protección CSRF -->
                    <%= token_tag nil %>
                    <div class="form-group d-inline-flex">
                        <button type="submit" class="btn btn-danger" data-confirm="¿Desea eliminar el proyecto con el nombre '<%=proyecto.nombre%>'?" data-title="Eliminar Proyecto" data-commit="Eliminar" data-cancel="Cancelar">Eliminar</button>
				    </div>
                    </form>
                </div>
                <% elsif current_user.lider? %>
                <!-- VISTA DEL LIDER DEL PROYECTO -->
                <form method="POST" action="edit_lider/<%= proyecto.id %>" accept-charset="UTF-8" role="form" id="actualizarproyecto" name="actualizarproyecto" enctype="multipart/form-data"> 
                    <!-- Protección CSRF -->
                    <%= token_tag nil %>
                    <div class="row">
                        <div class="col-md-2 text-white">
					        <label>Nombre del Proyecto</label>
					    </div>
                        <div class="col-md-10 input-group form-group">
					        <input type="text" class="form-control" placeholder="Nombre del Proyecto" id="nombre" name="nombre" value="<%= proyecto.nombre %>" readonly>
					    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-white">
					        <label>Descripción</label>
					    </div>
					    <div class="col-md-10 input-group form-group">
                            <textarea class="form-control" placeholder="Descripción del Proyecto" id="descripcion" name="descripcion" required><%=proyecto.descripcion%></textarea>
					    </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 text-white">
					        <label>Número de ciclos</label>
					    </div>
					    <div class="col-md-10 input-group form-group">
					        <input type="text" class="form-control" placeholder="Número de Ciclos" id="n_ciclos" name="n_ciclos" value="<%=proyecto.n_ciclos%>" only="number" required>
					    </div>
                    </div>
                    <div class="form-group d-inline-flex mt-3">
                        <button type="submit" class="btn btn-light">Guardar</button>
				    </div>
                    <div class="form-group d-inline-flex mt-3">
                        <%= link_to 'Cancelar', url_for(:back), class: "btn btn-warning" %>
				    </div>
                </form>
                <% end %>
            <% end %>
            </div>
		</div>
	</div>
    </div>
</div>
