<div class="container">
	<div class="row justify-content-md-center align-items-center">
        <h1 class="h1 text-white">BIENVENIDO AL SISTEMA <%= current_user.nombre %></h1>
    </div>
    <% if !params[:proyecto_id].nil? %>
        <br><br>
        <div class="row justify-content-md-center align-items-center">
            <h1 class="h1 text-white"><%= Proyecto.find(params[:proyecto_id]).nombre %></h1>
        </div>
        <div class="row justify-content-md-center align-items-center">
            <br>
            <h4 class="h4 text-white"><%= Proyecto.find(params[:proyecto_id]).descripcion %></h4>
        </div>
        <br><br>
        <div class="row justify-content-md-center align-items-center">
            <div class="form-group d-inline-flex mt-3 px-1">
                <%= link_to 'Detalles del Proyecto', proyectos_update_path(:proyecto_id => params[:proyecto_id]) , class: 'btn btn-light'%>
            </div>
            <div class="form-group d-inline-flex mt-3 px-1">
                <%= link_to 'Dashboard', dashboard_index_path, class: "btn btn-aqua" %>
            </div>
        </div>
    <% end %>
</div>