<h2 class="h2 text-white"><%=Proyecto.find(params[:proyecto_id]).nombre%></h2>
<br>
<div class="card bg-aqua">
    <div class="card-header text-white">
        <h3>Lanzamiento  : :  Metas</h3>
    </div>
    <table class="table table-hover table-sm table-dark card-body">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Descripción</th>
            <th scope="col">Plazo</th>
            <th scope="col" style="width: 10%">Acciones</th>
            </tr>
        </thead>
        <tbody>
        <% @colaboradors.each do |colab|%>
            <% colab.lanzamiento_metas.each do |meta|%>
                <tr>
                <th scope="row"><%=meta.id%></th>
                <td><%=meta.descripcion%></td>
                <td><%=meta.plazo%></td>
                <td>
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-6 px-0">
                            <div class="d-inline-flex">
                                <a href="/lanzamiento/metas/update?id=<%= meta.id %>&proyecto_id=<%=params[:proyecto_id]%>">
                                    <%= image_tag("edit.png", :alt=>"Editar", :width => '30%', :style => " filter: invert(100%)" )%>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <form method="POST" action="/lanzamiento/metas/delete/<%= meta.id %>" accept-charset="UTF-8" class="form-horizontal" role="form">
                            <!-- Protección CSRF -->
                            <%= token_tag nil %>
                            <div class="d-inline-flex">
                                <a type="submit" data-confirm="¿Desea eliminar la meta <%=meta.descripcion%>?" data-title="Eliminar Meta" data-commit="Eliminar" data-cancel="Cancelar">
                                    <%= image_tag("delete.png", :alt=>"Eliminar", :width => '30%', :description => 'Eliminar')%>
                                </a>
                            </div>
                            </form>
                        </div>
                    </div>
                </td>
                </tr>
            <% end %>
        <% end %>
        </tbody>
    </table>
</div>