<div class="container">
	<div class="row justify-content-md-center align-items-center">
        <div class="col-md-6 align-item-center">
		<div class="card text-center">
			<div class="card-header">
				<h3>Iniciar Sesión</h3>
			</div>
			<div class="card-body bg-aqua justify-content-center">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="input-group form-group field">
					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-user"></i></span>
					</div>
					<%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo Electrónico", class: "form-control" %>		
				</div>
                <div class="input-group form-group field">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña", class: "form-control" %>
					</div>
                <% if devise_mapping.rememberable? %>
                    <div class="field form-check">
                        <%= f.check_box :remember_me, class: 'form-check-input', id: 'check1' %>
                        <%= f.label 'Recordarme' , for: 'check1' , class: 'form-check-label'%>
                    </div>
                <% end %>
                <div class="actions mt-3">
                    <%= f.submit "Acceder", class: 'btn btn-light' %>
                </div>
            <% end %>
			</div>
		</div>
	</div>
    </div>
</div>
