<div class="container">
    <h2 class="h2 text-white text-center"><%=@proyecto.nombre%></h2>
    <br>
    <div class="card bg-aqua">
        <div class="row card-header text-white">
            <h3 class="col-md-10">Requerimientos  : :  Requerimientos</h3>
            <%= link_to 'Agregar Requerimiento', requerimientos_requerimientos_create_path(:proyecto_id => @proyecto.id), class: "btn btn-light col-md-2 float-right" %>
        </div>
        <table class="table table-hover table-sm table-dark card-body">
            <thead>
                <tr>
                <th scope="col">Descripción</th>
                <th scope="col">Fuente</th>
                <th scope="col">Tipo</th>
                <th scope="col">Ambiente</th>
                <th scope="col">Restricciones</th>
                <th scope="col">Procesos</th>
                <th scope="col" style="width: 10%">Acciones</th>
                </tr>
            </thead>
            <tbody>
            <% @colaboradors.each do |colab|%>
                <% colab.requerimientos_requerimientos.each do |req|%>
                    <tr>
                    <td><%=req.descripcion%></td>
                    <td><%=req.fuente%></td>
                    <td><%=req.tipo%></td>
                    <td><%=req.ambiente%></td>
                    <td><%=req.restricciones%></td>
                    <td><%=req.procesos%></td>
                    <td>
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-6 px-0">
                                <div class="d-inline-flex">
                                    <a href="/requerimientos/requerimientos/update?id=<%= req.id %>&proyecto_id=<%=@proyecto.id%>" title="Editar">
                                        <%= image_tag("edit.png", :alt=>"Editar", :width => '30%', :style => " filter: invert(100%)" )%>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <form method="POST" action="/requerimientos/requerimientos/delete/<%=req.id%>&proyecto_id=<%=@proyecto.id%>" accept-charset="UTF-8" class="form-horizontal" role="form">
                                <!-- Protección CSRF -->
                                <%= token_tag nil %>
                                <div class="d-inline-flex">
                                    <input type="submit" class="btn-delete" title="Eliminar" data-confirm="¿Desea eliminar el requerimiento <%=req.descripcion%>?" data-title="Eliminar Requerimiento" data-commit="Eliminar" data-cancel="Cancelar">
                                </div>
                                </form>
                            </div>
                        </div>
                    </td>
                    </tr>
                <% end %>
            <% end %>
            </tbody>
        </table>
    </div>
</div>