<!DOCTYPE html>
<html>
  <head>
    <title>Aplicación Web de Integración Continua - TSP Pruebas</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container-fluid">
    <div class="row">
      <div class="col-md-1 bg-aqua">
      </div>
      <%= image_tag("background.jpg", :alt => "AWIC-TSP", :width => '40%', :hidden)%>
      <div class="col-md-11 p-5 bg-image-main full-size">
          <div class="pb-5 row">
            <div class="col-md-6">
              <%= link_to root_path do %>
                <%= image_tag("AWIC-TSP (1).png", :alt => "AWIC-TSP", :width => '40%')%>
              <% end %>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
              <!-- Mensajes -->
              <% flash.each do |type, msg| %>
                <% if type == "notice" || type == 'alert'
                      type = "info"
                    end 
                %>
                <div class="col-md-6 alert alert-<%= type %> alert-dismissible fade show position-absolute float-right" id="<%= type %>">
                  <%= msg %>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
            <%= yield %>
      </div>
    </div>
    <footer class="row bg-grey-alt py-3 fixed-bottom">
      <div></div>
    </footer>
  </body>
</html>
